{% macro profit_cell(value, currency_symbol, num_format) %}
    <td class="{% if value > 0 %}text-green-600{% elif value < 0 %}text-red-600{% else %}text-black{% endif %}">
        {{ currency_symbol }}{{ num_format.format(value) }}
    </td>
{% endmacro %}
{% macro profit_cell_with_pct(value, currency_symbol, num_format, pct) %}
    <td class="{% if value > 0 %}text-green-600{% elif value < 0 %}text-red-600{% else %}text-black{% endif %}">
        {{ currency_symbol }}{{ num_format.format(value) }}
        ({{ "{:.2f}".format(pct) }}%)
    </td>
{% endmacro %}
{% macro render_portfolio_table(portfolio_list, portfolio_totals, currency_symbol, num_format) %}
    <table class="table-general">
        <thead>
            <tr>
                <th>종목 코드</th>
                <th>종목명</th>
                <th>투자 금액</th>
                <th>수량</th>
                <th>평균 단가</th>
                <th>현재 가격</th>
                <th>평가 금액</th>
                <th>비중</th>
                <th>평가 수익</th>
                <th>청산 이익</th>
                <th>총 배당금</th>
                <th>총 수익</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio_list %}
                <tr class="{% if stock.quantity == 0 %} bg-gray-100 text-gray-400 {% endif %}">
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ currency_symbol }}{{ num_format.format(stock.invested) }}</td>
                    <td>{{ num_format.format(stock.quantity) }}</td>
                    <td>{{ currency_symbol }}{{ num_format.format(stock.avg_price) }}</td>
                    <td>{{ currency_symbol }}{{ num_format.format(stock.current_price) }}</td>
                    <td>{{ currency_symbol }}{{ num_format.format(stock.valuation) }}</td>
                    <td>{{ "{:.2f}".format(stock.valuation_pct) }}%</td>
                    {{ profit_cell_with_pct(stock.return_amount, currency_symbol, num_format, stock.return_pct) }}
                    {{ profit_cell(stock.realized_gain, currency_symbol, num_format) }}
                    {{ profit_cell(stock.dividend_total, currency_symbol, num_format) }}
                    {{ profit_cell_with_pct(stock.total_profit, currency_symbol, num_format, stock.total_profit_pct) }}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">합계</td>
                <td>{{ currency_symbol }}{{ num_format.format(portfolio_totals.invested) }}</td>
                <td colspan="3">-</td>
                <td>{{ currency_symbol }}{{ num_format.format(portfolio_totals.valuation) }}</td>
                <td>-</td>
                {{ profit_cell_with_pct(portfolio_totals.return_amount, currency_symbol, num_format, portfolio_totals.return_pct) }}
                {{ profit_cell(portfolio_totals.realized_gain, currency_symbol, num_format) }}
                {{ profit_cell(portfolio_totals.dividend_total, currency_symbol, num_format) }}
                {{ profit_cell_with_pct(portfolio_totals.total_profit, currency_symbol, num_format, portfolio_totals.total_profit_pct) }}
            </tr>
        </tfoot>
    </table>
{% endmacro %}
