<div class="card">
  <h2 class="section-title">{{ _('add_transaction') }}</h2>
  <form id="transaction-form">
    <input type="hidden" name="account_id" value="{{ selected_account.id }}" />
    <div class="my-flex-container">
      {{ form_macros.form_input_date("date", latest_date) }}
      {{ form_macros.form_select("type", transaction_types, latest_type) }}
      {{ form_macros.form_input_number('amount', _('amount_required')) }}
    </div>
    <div class="my-flex-container">
      {{ form_macros.form_input_text('symbol', _('symbol')) }}
      {{ form_macros.form_input_number('price', _('price')) }}
      {{ form_macros.form_input_number('quantity', _('quantity')) }}
    </div>
    <div class="my-flex-container">
      {{ form_macros.form_input_number('fee', _('fee')) }}
      {{ form_macros.form_input_number('fx_rate', _('fx_rate')) }}
    </div>
    <input type="text"
           placeholder="{{ _('description') }}"
           name="description"
           class="form-field w-full" />
    <button type="submit" class="btn btn-blue">{{ _('add') }}</button>
  </form>
</div>
<div class="card">
  <h2 class="section-title">{{ _('transaction_list') }}</h2>
  {% if transactions %}
    <table class="table-custom">
      <thead>
        <tr>
          <th class="min-w-[120px]">{{ _('date') }}</th>
          <th class="min-w-[150px]">{{ _('type') }}</th>
          <th class="min-w-[110px]">{{ _('amount') }}</th>
          <th class="min-w-[150px]">{{ _('symbol') }}</th>
          <th class="min-w-[110px]">{{ _('price') }}</th>
          <th class="min-w-[120px]">{{ _('quantity') }}</th>
          <th class="min-w-[120px]">{{ _('fee') }}</th>
          <th class="min-w-[120px]">{{ _('fx_rate') }}</th>
          <th class="min-w-[80px]">{{ _('remaining') }}</th>
          <th class="min-w-[80px]">{{ _('balance') }}</th>
          <th class="min-w-[500px]">{{ _('description') }}</th>
          <th>{{ _('action') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}{{ transaction_macros.transaction_row(t, transaction_types) }}{% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="message">{{ _('no_transactions') }}</p>
  {% endif %}
</div>
<div class="card">
  <h2 class="section-title">{{ _('csv_upload') }}</h2>
  <form method="post"
        action="/transactions/upload_csv"
        enctype="multipart/form-data">
    <input type="hidden" name="account_id" value="{{ selected_account.id }}" />
    <input type="file" name="csv_file" accept=".csv" class="mb-4" required />
    <button type="submit" class="btn btn-green">{{ _('upload') }}</button>
  </form>
</div>
